/* Debugging Purpose 
* {
    border: 1px solid red;
}

*/

body {
    font-family: "Georgia", "Times-New-Roman", serif;
    font-size: 30px;
    box-sizing: border-box;
    background-color: #2d3436;
    margin: 0;
}

.menu-container {
    background-color: #b2bec3;
    display: flex;
}

.menu {
    width: 100vmax;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    margin: 0px 40px;
}

.contact {
    margin-left: auto;
}

.home {
    margin-left: 20px;
}

.recipe-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    margin-top: 40px;
}

.card-one,
.card-two,
.card-three,
.card-four,
.card-five,
.card-six {
    width: 300px;
    border: 1px solid black;
    border-radius: 25px;
    height: 700px;
}

.header,
.description {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: -5px;
}

.description-content {
    margin: 0px 5px;
}

.card-one {
    background-color: #55efc4;
}

.card-two {
    background-color: #81ecec;
}

.card-three {
    background-color: #74b9ff;
}

.card-four {
    background-color: #a29bfe;
}

.card-five {
    background-color: #ffeaa7;
}

.card-six {
    background-color: #fab1a0;
}

.footer-container {
    display: flex;
}

.footer-item {
    display: flex;
    border: 1px solid black;
    height: 20px;
    background-color: #b2bec3;
    flex: 1;
}

.footer-two {
    display: flex;
    flex: 2;
}

p {
    font-size: 10px;
}

img {
    width: 300px;
}
  
.list-container {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}

.items {
    display: flex;
}

.items h5 {
    font-size: 22px;
    align-self: center;
}



.list-container h4 {
    margin: 15px 40px 0px;
}


.list-container h4,
ul {
    font-size: 10px;
}